@import "tailwindcss";

:root {
  --fundo: #080C10;
  --fundo-card: #0D1117;
  --borda: #30363D;
  --texto: #E6EDF3;
  --texto-suave: #8B949E;
  --verde: #39D353;
  --azul: #58A6FF;
  --amarelo: #E3B341;
  --vermelho: #F85149;
}

body {
  background: var(--fundo);
  color: var(--texto);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--fundo);
}

::-webkit-scrollbar-thumb {
  background: var(--borda);
  border-radius: 3px;
}